In [1]:
print("V THANUSH")
print("ARUMBARUTHI")
print("PYTHON PROGRAMMING")

V THANUSH
ARUMBARUTHI
PYTHON PROGRAMMING

In [2]:
print("V THANUSH",end=' ')
print("Keys institute",end=' ')
print("python program")

V THANUSH Keys institute python program

In [3]:
print("V THANUSH\tV VIKAS")

V THANUSH	V VIKAS

# VARIABLE

In [4]:
a=10
b=5
print(a+b)
print("sum=",a+b)
print("sum of 2 numbers=",a+b)

15
sum= 15
sum of 2 numbers= 15

In [5]:
#AREA OF THE SQUARE
    #A=a*a
    #a=SIDE
a=5
print("area of the square",a*a)
print("area of the square=",a*a)

area of the square 25
area of the square= 25

In [6]:
#AREA OF RECTANGLE
    #A=W*L
    #W=WIDTH
    #L=LENGTH
w=10
l=10
print("area of the rectangle=",w*l)

area of the rectangle= 100

In [7]:
#AREA OF THE TRIANGLE
    #A=HB*B/2
    #HB=HEIGHT
    #B=BASE
hb=5
b=10
print("area of the triangle=",hb*b/2)

area of the triangle= 25.0

In [8]:
#ARTEA OF THE CIRCLE
    #A=PY*R*R
    #A=AREA
    #R=RADIUS
PY=3.14
r=5
print("AREA OF THE CIRCLE=",PY*r*r)

AREA OF THE CIRCLE= 78.5

# STRING FORMATE PROGRAM

In [9]:
a="5"
b="10"
print(a+b)

510

In [10]:
a="100"
b="200"
print(a+b)

100200

In [11]:
#STRING TO INTEGER
a="1000"
b="2000"
x=int(a)
y=int(b)
print(a+b)
print(x+y)
print(x-y)

10002000
3000
-1000

In [12]:
#STRING TO FLOAT
a="2.1"
b="4.1"
x=float(a)
y=float(b)
print(a+b)
print(x+y)
print(x-y)

2.14.1
6.199999999999999
-1.9999999999999996

# INPUT() IT IS A INPUT FUNCTION ARE USED TO GET/READ DATA FROM USER AS A STRING FORMAT

In [14]:
#RUN TIME CODE
a=int(input("enter the value a="))
b=int(input("enter the value b="))
print(a+b)

enter the value a=12
enter the value b=13
25

In [15]:
#RECTANGULAR
w=int(input("entyer the value w="))
l=int(input("enter the value l="))
print(w*l)

entyer the value w=2
enter the value l=3
6

In [16]:
w=float(input("enter the value w="))
l=float(input("enter the value l="))
print(w*l)

enter the value w=1.1
enter the value l=2.1
2.3100000000000005

In [17]:
#CIRCLE
py=int(input("enter the value py="))
r=int(input("enter the value r="))
print(py*r*r)
print("a=",py*r*r)

enter the value py=5
enter the value r=4
80
a= 80

In [18]:
py=float(input("enter the value py="))
r=float(input("enter the value r="))
print(py*r*r)
print("a=",py*r*r)

enter the value py=1.1
enter the value r=2.1
4.851000000000001
a= 4.851000000000001