# Python Sets

# Set

Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, 
   the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
A set is a collection which is unordered, unchangeable*, and unindexed.
It is a collection of hetrogenious.
It is unorder and unindex.
It is mutable.
It does not allow dupilicates.
Set can be represented by {}.     Example:{1,2,3,4,5}
Set is mutable. i.e) we can make any change in set.But element are not duplicate.
Set data structure is also non-homogeneous data structure but stores in single row.

In [1]:
# Sets are written with curly brackets.

#Example
# Create a Set: 
    # a=set() 
    # b=set(a)

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.
Once a set is created, you cannot change its items, but you can remove items and add new items.

In [2]:
#Duplicates Not Allowed
# Sets cannot have two items with the same value.

#Example
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [3]:
#Get the Length of a Set
# To determine how many items a set has, use the len() function.

#Example
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [4]:
#Set Items - Data Types
# Set items can be of any data type:

#Example
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [5]:
# A set can contain different data types:

#Example
# A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)

{'male', True, 34, 40, 'abc'}

In [6]:
#type()
#  From Python's perspective, sets are defined as objects with the data type 'set':

# <class 'set'>
#Example
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [7]:
# The set() Constructor
# It is also possible to use the set() constructor to make a set.

# Example
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

1) List is a collection which is ordered and changeable. Allows duplicate members.
2) Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3) Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4) Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python - Access Set Items

In [8]:
#Access Items
# You cannot access items in a set by referring to an index or a key.

# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, 
#  by using the in keyword.

#Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
cherry
banana

In [9]:
#Example
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

#Change Items
 Once a set is created, you cannot change its items, but you can add new items.

# Python - Add Set Items

In [10]:
#Add Items
# Once a set is created, you cannot change its items, but you can add new items.

# To add one item to a set use the add() method.

#Example
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [11]:
#Add Sets
# To add items from another set into the current set, use the update() method.

#Example
# Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'mango', 'cherry', 'banana', 'apple', 'pineapple'}

In [12]:
#Add Any Iterable
#The object in the update() method does not have to be a set, 
#   it can be any iterable object (tuples, lists, dictionaries etc.).

#Example
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'apple', 'cherry', 'banana', 'kiwi'}

# Python - Remove Set Items

In [13]:
#Remove Item
# To remove an item in a set, use the remove(), or the discard() method.

#Example
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)
# Note: If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [14]:
#Example
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)
# Note: If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

In [15]:
# You can also use the pop() method to remove an item, but this method will remove the last item. 
# Remember that sets are unordered, so you will not know what item that gets removed.
# The return value of the pop() method is the removed item.

#Example
# Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

apple
{'cherry', 'banana'}

In [16]:
#Example
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [17]:
#Example
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

# Python - Loop Sets

In [18]:
#Loop Items
# You can loop through the set items by using a for loop:

#Example
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
cherry
banana

# Python - Join Sets

In [19]:
#Join Two Sets
# There are several ways to join two or more sets in Python.
# You can use the union() method that returns a new set containing all items from both sets, or 
#   the update() method that inserts all the items from one set into another:

#Example
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 'b', 3, 'a'}

In [20]:
#Example
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)
#  Note: Both union() and update() will exclude any duplicate items.

{'c', 1, 2, 'b', 3, 'a'}

In [21]:
#Keep ONLY the Duplicates
# The intersection_update() method will keep only the items that are present in both sets.

#Example
# Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [22]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

#Example
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [23]:
#Keep All, But NOT the Duplicates
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

#Example
# Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'google', 'cherry', 'banana'}

In [24]:
# The symmetric_difference() method will return a new set, 
#    that contains only the elements that are NOT present in both sets.

#Example
# Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'cherry', 'banana'}

# Python - Set Methods

# Set Methods

Python has a set of built-in methods that you can use on sets.

# Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

# Python - Set Exercises

In [25]:
#Exercise:
# Check if "apple" is present in the fruits set.

fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [26]:
#Exercise:
# Use the add method to add "orange" to the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'orange', 'cherry', 'banana'}

In [27]:
#Exercise:
# Use the correct method to add multiple items (more_fruits) to the fruits set.

fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'orange', 'grapes', 'apple', 'mango', 'cherry', 'banana'}

In [28]:
#Exercise:
# Use the remove method to remove "banana" from the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [29]:
#Exercise:
# Use the discard method to remove "banana" from the fruits set.

fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

# ALL EXAMPLE IN SET METHOD:

In [30]:
a={1,2,3}
a.add(6)
print(a)

a={1,2,3}
a.clear()
print(a)

a={1,2,3}
b=a.copy()
print(b)

a={1,2,3}
b={4,5,1}
c=a.difference(b)
print(c)

a={1,2,3}
a.discard(2)
print(a)

a={1,2,3}
b={4,5,1}
c=a.intersection(b)
print(c)

a={1,2,3}
b={4,5,1}
c={1,7,8}
a.intersection_update(b,c)
print(a)

a={1,2,3}
b={4,5,1}
c=a.isdisjoint(b)
print(c)

a={1,2,3}
b={4,5,1,2,3}
c=a.issubset(b)
print(c)

a={1,2,3,4,5}
b={1,2,3}
c=a.issuperset(b)
print(c)

a={1,2,3}
b={4,5,1}
c=a.symmetric_difference(b)
print(c)

a={1,2,3}
b={4,5,6}
result=a.symmetric_difference_update(b)
print("a=",a)
print("b=",b)
print("result=",result)

a={1,2,3}
b={4,5,1}
c=a.union(b)
print(c)

a={1,2,3}
b={4,5,1}
a.update(b)
print(a)

{1, 2, 3, 6}
set()
{1, 2, 3}
{2, 3}
{1, 3}
{1}
{1}
False
True
True
{2, 3, 4, 5}
a= {1, 2, 3, 4, 5, 6}
b= {4, 5, 6}
result= None
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [31]:
names={10,'Ram','sam','Ravi',3.1}    
print(names)
print(type(names))

for name in names:                   # Access values using for loop.
    print(name)
    
names.add('sara')                    # Adding new element.
print(names)

a={'kumar','sunder','suresh'}        # update another set data.
names.update(a)
print(names)

a.remove('suresh')
print(a)

a.discard('suresh')
print(a)

a.pop()
print(a)

a.clear()
print(a)

{'Ravi', 'sam', 3.1, 10, 'Ram'}
<class 'set'>
Ravi
sam
3.1
10
Ram
{'Ravi', 'sam', 3.1, 10, 'Ram', 'sara'}
{'Ravi', 3.1, 'suresh', 10, 'sam', 'kumar', 'Ram', 'sunder', 'sara'}
{'kumar', 'sunder'}
{'kumar', 'sunder'}
{'sunder'}
set()

In [32]:
a={1,2,3,4}
b={'a','b','c','d'}
c=a.union(b)
print(c)

a.update(b)
print(a)

a={1,2,3,4,5}
b={5,6,7,8,9}
c=a.intersection(b)
print(c)

a.intersection_update(b)
print(a)

c=a.symmetric_difference(b)
print(c)

a.symmetric_difference_update(b)
print(a)

{'c', 1, 2, 3, 4, 'd', 'b', 'a'}
{'c', 1, 2, 3, 4, 'd', 'b', 'a'}
{5}
{5}
{6, 7, 8, 9}
{6, 7, 8, 9}

In [33]:
a={5,6,7}
b={5,6,7,1,2}
c=a.isdisjoint(b)
print(c)

c=a.issubset(b)
print(c)

c=a.issuperset(b)
print(c)

False
True
False