# DECISION MAKING & LOOPS AND BRANCHING

In [1]:
#LOOPS
#WHILE LOOP

i=1
while(i<=3):
    print("Thanush")
    i=i+1

Thanush
Thanush
Thanush

In [2]:
# 1 to 5 repeat the condition

i=1
while(i<=5):
    print("12345",end=' ')
    i=i+1

12345 12345 12345 12345 12345

In [3]:
# 5 to 1 repeat the condition

i=5
while(i>=1):
    print("12345",end=' ')
    i=i-1

12345 12345 12345 12345 12345

In [4]:
# display the numbers from 1 to 10

i=1
while(i<=10):
    print(i,end=' ')
    i=i+1
i=10
while(i>=1):
    print(i,end=' ')
    i=i-1

1 2 3 4 5 6 7 8 9 10 10 9 8 7 6 5 4 3 2 1

In [5]:
# print from  1 to 50 between even numbers

i=0
while(i<=50):
    print(i,end=' ')
    i=i+2

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [6]:
# print from  1 to 50 between odd numbers

i=1
while(i<=50):
    print(i,end=' ')
    i=i+2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [7]:
# write a program display numbers from 1 to 100 while are exactly divisible by 3 and 5.

i=1
while(i<=100):
    if(i%3==0 and i%5==0):
        print(i,end=' ')
    i=i+1

15 30 45 60 75 90

In [8]:
# write a program display numbers from 1 to 1000 while are exactly divisible by 2 and 4 and 6.

i=1
while(i<=1000):
    if(i%2==0 and i%4==0 and i%6==0):
        print(i,end=' ')
    i=i+1

12 24 36 48 60 72 84 96 108 120 132 144 156 168 180 192 204 216 228 240 252 264 276 288 300 312 324 336 348 360 372 384 396 408 420 432 444 456 468 480 492 504 516 528 540 552 564 576 588 600 612 624 636 648 660 672 684 696 708 720 732 744 756 768 780 792 804 816 828 840 852 864 876 888 900 912 924 936 948 960 972 984 996

In [9]:
# sum of even numbers from 1 to 100

s=0
i=1
while(i<=100):
    if(i%2==0):
        s=s+i
    i=i+1
print(s)

2550

In [10]:
# sum of odd numbers from 1 to 100

s=0
i=1
while(i<=100):
    if(i%2==1):
        s=s+i
    i=i+1
print(s)

2500

In [11]:
# sum of even numbers from 1 to 100 which are divisible by 5.

s=0
i=5
while(i<=100):
    if(i%5==0):
        s=s+i
    i=i+1
print(s)

1050

In [12]:
 # sum of numbers from 1 to 10
    
s=0
i=1
while(i<=10):
    s=s+i
    i=i+1
print(s)

55

In [13]:
# sum of numbers from 1 to n

s=0
i=1
n=int(input("enter the value n="))
while(i<=n):
    s=s+i
    i=i+1
print(s)

enter the value n=15
120

In [14]:
#for loop

print(range(10))
print(list(range(10)))
print(list(range(2,8)))
print(list(range(2,20,3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [15]:
for i in range(10,1,-1):
    print(i,end=' ')
for j in range(10,1,-2):
    print(j,end=' ')
for k in range(50,10,-3):
    print(k,end=' ')

10 9 8 7 6 5 4 3 2 10 8 6 4 2 50 47 44 41 38 35 32 29 26 23 20 17 14 11

In [16]:
for i in range(1,10):
    print(i,end=' ')
for j in range(10):
    print(j,end=' ')
for k in range(1,12,+2):
    print(k,end=' ')

1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 1 3 5 7 9 11

In [17]:
for i in range(10,1,-1):
    print(i,end=' ')
for j in range(30,10,-3):
    print(j ,end=' ')

10 9 8 7 6 5 4 3 2 30 27 24 21 18 15 12

In [18]:
#inner loop/nested loop

for i in range(1,10):
    for j in range(1,4):
        print("A",end=' ')

A A A A A A A A A A A A A A A A A A A A A A A A A A A

In [19]:
for i in range(6,10):
    for j in range(3,7):
        print("keys",end=' ')

keys keys keys keys keys keys keys keys keys keys keys keys keys keys keys keys

In [20]:
for i in range(1,5):
    print(i,end=' ')
for j in range(6,10):
    print(j,end=' ')

1 2 3 4 6 7 8 9

In [21]:
for i in range(1,7):
    print("keys")
for j in range(6,11):
    print(j,end=' ')
for k in range(3,7):
    print(k,end=' ')

keys
keys
keys
keys
keys
keys
6 7 8 9 10 3 4 5 6

In [22]:
for i in range(1,10):
    if(i%2==0):
        for j in range(10,12):
            print(j)
            print("Abc")
            for k in range(7,9):
                print(k)

10
Abc
7
8
11
Abc
7
8
10
Abc
7
8
11
Abc
7
8
10
Abc
7
8
11
Abc
7
8
10
Abc
7
8
11
Abc
7
8

In [23]:
i=1
while(i<=10):
    print("A")
    j=10
    while(j>=1):
        print("B")
        j=j-1
        i=i+1

A
B
B
B
B
B
B
B
B
B
B

In [24]:
for i in range(1,12//2):
    if(i%2==0):
        for j in range(1,7):
            print(j)
            print("ABC")

1
ABC
2
ABC
3
ABC
4
ABC
5
ABC
6
ABC
1
ABC
2
ABC
3
ABC
4
ABC
5
ABC
6
ABC

In [25]:
i=1
while(i<=5):
    j=1
    while(j<=i):
        print(j)
        print("ABC")
        j=j+1
    i=i+1

1
ABC
1
ABC
2
ABC
1
ABC
2
ABC
3
ABC
1
ABC
2
ABC
3
ABC
4
ABC
1
ABC
2
ABC
3
ABC
4
ABC
5
ABC

In [26]:
i=1
while(i<=5):
    print("A")
    j=1
    while(j<=i):
        for k in range(1,4):
            print(k)
            if(k%2==0):
                print("keys")
        j=j+1
    i=i+1

A
1
2
keys
3
A
1
2
keys
3
1
2
keys
3
A
1
2
keys
3
1
2
keys
3
1
2
keys
3
A
1
2
keys
3
1
2
keys
3
1
2
keys
3
1
2
keys
3
A
1
2
keys
3
1
2
keys
3
1
2
keys
3
1
2
keys
3
1
2
keys
3

In [27]:
#the following program uses a nested for loop to find the prime numbers from 2 to 100:

i=2
while(i<100):
    j=2
    while(j<=(i/j)):
        if not (i%j):
            break
        j=j+1
        if (j>i/j):
            print(i,"is prime")
    i=i+1
print("good bye!")

5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
good bye!

In [28]:
#sum of "individual digits" in a given number:

n=144      #1+4+4=9
s=0
while(n>0):
    r=n%10
    s=s+r
    n=n//10
    print(s)

4
8
9

In [29]:
n=69432
s=0
while(n>0):
    s=s+n%10
    n=n//10
    print(s)

2
5
9
18
24

In [30]:
#given numbers from 1 to 15 add values:

for i in range(1,15):
    x=i
    s=0
    while(x>0):
        r=x%10
        s=s+r
        x=x//10
        print(s,end='')

1234567890112233445

In [31]:
#print reverse number :

n=2476
s=0
while(n>0):
    r=n%10
    s=s*10+r
    n=n//10
print(s)

6742

In [32]:
# reverse number from 1 to 15

for i in range(1,16):
    x=i
    s=0
    while(x>0):
        r=x%10
        s=s*10+r
        x=x//10
        print(s,end='')

12345678901111221331441551