# Python Strings:

# Strings:

Strings in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".
You can display a string literal with the print() function:

In [1]:
#Example:
print("Hello")
print('Hello')

Hello
Hello

In [2]:
#Assign String to a Variable:
#Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

#Example:
a = "Hello"
print(a)

Hello

In [3]:
#Multiline Strings:
#You can assign a multiline string to a variable by using three quotes:

#Example:
#You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

#Example:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [4]:
#Strings are Arrays:
#Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
#However, Python does not have a character data type, a single character is simply a string with a length of 1.
#Square brackets can be used to access elements of the string.

#Example:
#Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

In [5]:
#Looping Through a String:
#Since strings are arrays, we can loop through the characters in a string, with a for loop.

#Example:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [6]:
#String Length:
#To get the length of a string, use the len() function.

#Example:
#The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

In [7]:
#Check String:
#To check if a certain phrase or character is present in a string, we can use the keyword in.

#Example:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [8]:
#Use it in an if statement:

#Example:
#Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [9]:
#Check if NOT:
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

#Example:
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

#Use it in an if statement:

#Example
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

# Python - Slicing Strings:

Slicing:
You can return a range of characters by using the slice syntax.
Specify the start index and the end index, separated by a colon, to return a part of the string.

syntax list:
    [start:End:jump]

In [10]:
#Example
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

Slice From the Start:
By leaving out the start index, the range will start at the first character

In [11]:
#Example:
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

Slice To the End:
By leaving out the end index, the range will go to the end

In [12]:
#Example:
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

Negative Indexing:
Use negative indexes to start the slice from the end of the string:

In [13]:
#Example:
#Get the characters:
#From: "o" in "World!" (position -5)
#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings:

Python has a set of built-in methods that you can use on strings.

In [14]:
#Upper Case:
#Example:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [15]:
#Lower Case:
#Example:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [16]:
#Remove Whitespace:
#Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

#Example:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [17]:
#Replace String:
#Example:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [18]:
#Split String:
#The split() method returns a list where the text between the specified separator becomes the list items.

#Example:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# Python - String Concatenation:

In [19]:
#String Concatenation:
# To concatenate, or combine, two strings you can use the + operator.

#Example:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

#Example:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World

# Python - Format - Strings:

# String Format:

In [20]:
#As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

#Example:

age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [21]:
#But we can combine strings and numbers by using the format() method!
#The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

#Example:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [22]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

#Example:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [23]:
# You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

#Example:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python - Escape Characters:

Escape Character
To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [1]:
#Example
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (588913440.py, line 4)

In [25]:
# To fix this problem, use the escape character \":

#Example:
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Escape Characters:
Other escape characters used in Python:

In [26]:
# \'	Single Quote:

txt = 'It\'s alright.'
print(txt)

It's alright.

In [27]:
# \\	Backslash:

txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [28]:
# \n	New Line:

txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [29]:
# \r	Carriage Return:

txt = "Hello\rWorld!"
print(txt)

World!

In [30]:
# \t	Tab:

txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [31]:
# \b	Backspace:

#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [32]:
# \ooo	Octal value:

#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [33]:
# \xhh	Hex value:

#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

# Python - String Methods:

# String Methods:

Python has a set of built-in methods that you can use on strings.
Note: All string methods return new values. They do not change the original string.

Method	Description string

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found

Boolean Expression:

isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning.

# Python - String Exercises:

In [1]:
#Test Yourself With Exercises
#Exercise:
# Use the len method to print the length of the string.

x = "Hello World"
print(len(x))

11

# STRING ALL EXAMPLES:

In [35]:
a=[1,2,3,4,5]
print(a)
print(type(a))
a[0]=100
print(a)
print("slicing")
print(a[1])
print(a[-1])
print(a[0:3])
print(a[2:])
print(a[:3])
print("----------")
a=[1,"True","Ram",2.5,[1,2,3,4]]
print(a)
print(type(a))
print(a[0],"type is")

[1, 2, 3, 4, 5]
<class 'list'>
[100, 2, 3, 4, 5]
slicing
2
5
[100, 2, 3]
[3, 4, 5]
[100, 2, 3]
----------
[1, 'True', 'Ram', 2.5, [1, 2, 3, 4]]
<class 'list'>
1 type is

In [36]:
a=[10,25,35,45]
print(a)
a.clear()
print(a)
a=[10,25,35,45]
b=a.copy()
print(b)
a=[10,25,35,45,25,4,25]
print(a.count(25))
print(a.index(35))
print(len(a))
print(max(a))
print(min(a))
print(a)
a.pop(0)   #remove element using index:
print(a)
a=[10,25,35,45,25,4,25]
a.remove(25)
print(a)
print("--------------")
names=["Ram"]
print("names")
name2=["charan","ajith"]
names.extend(name2)
print(names)

[10, 25, 35, 45]
[]
[10, 25, 35, 45]
3
2
7
45
4
[10, 25, 35, 45, 25, 4, 25]
[25, 35, 45, 25, 4, 25]
[10, 35, 45, 25, 4, 25]
--------------
names
['Ram', 'charan', 'ajith']

In [2]:
l=[1,2,3,4,5]
l.insert(2,"abc")
a=[10,50,100,25,85]
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a=["or","Apple","Zebra"]
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a=["or","Apple","Zebra"]
a.sort(key=len)
print(a)

[10, 50, 100, 25, 85]
[10, 25, 50, 85, 100]
[100, 85, 50, 25, 10]
['Apple', 'Zebra', 'or']
['or', 'Zebra', 'Apple']
['or', 'Apple', 'Zebra']

# Python Booleans

Booleans represent one of two values: True or False.

Boolean Values:
    
In programming you often need to know if an expression is True or False.
You can evaluate any expression in Python, and get one of two answers, True or False.
When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [3]:
#Example:
    
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [4]:
# When you run a condition in an if statement, Python returns True or False:

#Example
# Print a message based on whether the condition is True or False:

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [5]:
#Evaluate Values and Variables
# The bool() function allows you to evaluate any value, and give you True or False in return,

#Example
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [6]:
#Example
# Evaluate two variables:

x = "Hello"
y = 15
print(bool(x))
print(bool(y))

True
True

Most Values are True:

Almost any value is evaluated to True if it has some sort of content.
Any string is True, except empty strings.
Any number is True, except 0.
Any list, tuple, set, and dictionary are True, except empty ones.

In [9]:
#Example
# The following will return True:

print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

Some Values are False:
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", 
the number 0, and the value None. And of course the value False evaluates to False.

In [11]:
#Example
# The following will return False:

print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [12]:
# One more value, or object in this case, evaluates to False, and 
#     that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

#Example

class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [13]:
#Functions can Return a Boolean
# You can create functions that returns a Boolean Value:

#Example
# Print the answer of a function:

def myFunction() :
  return True
print(myFunction())

True

In [14]:
# You can execute code based on the Boolean answer of a function:

#Example
# Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [15]:
# Python also has many built-in functions that return a boolean value, 
#      like the isinstance() function, which can be used to determine if an object is of a certain data type:

#Example
# Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True

# Test Yourself With Exercises

In [16]:
#Exercise:
# The statement below would print a Boolean value, which one?

print(10 > 9)

True

In [17]:
#Exercise:
# The statement below would print a Boolean value, which one?

print(10 == 9)

False

In [18]:
#Exercise:
# The statement below would print a Boolean value, which one?

print(10 < 9)

False

In [19]:
#Exercise:
# The statement below would print a Boolean value, which one?

print(bool("abc"))

True

In [20]:
#Exercise:
# The statement below would print a Boolean value, which one?

print(bool(0))

False

In [33]:
#Slicing:

#Example:

l=[1,2,3,4,5,6,7]
print(l)
print(l[2:6])
print(l[2:])
print(l[:2])
print(l[2:7:3])
print(l[-1])
print(l[-5:-2])
print(l[-2:-7:-2])
print(l[::-1])

[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6]
[3, 4, 5, 6, 7]
[1, 2]
[3, 6]
7
[3, 4, 5]
[6, 4, 2]
[7, 6, 5, 4, 3, 2, 1]

In [26]:
s="sample"
print(s)
print(s[0:2])
print(s[:5])
print(s[1:])
print(s[-1])
print(s[-2:-1])
print(s[:-1])
print(s[::-1])

sample
sa
sampl
ample
e
l
sampl
elpmas

In [30]:
s="keys"
print(s)
print(type(s))
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print(s.count("t"))
print(s.endswith("ED"))
print(s.find("o"))
print(s.find("o",5))
print(s.replace("o",'0'))

keys
<class 'str'>
KEYS
keys
Keys
Keys
0
False
-1
-1
keys

In [31]:
a="hello keys"
print("Is Upper :",a.isupper())
print("Is lower :",a.islower())
print("Is Alpha Numeric :",a.isalnum())
print("Is Alpha :",a.isalpha())

s="he\nis\ngood"
print(s.splitlines())
print(s.splitlines(True))

a="keys Computer Education"
print(a.split(" "))

a="keys,Computer,Education"
print(a.split(","))

s="   keys   "
print(len(s))
print(len(s.strip()))
print(len(s.lstrip()))
print(len(s.rstrip()))

s='12-03-2020'
print(s.partition('-'))

Is Upper : False
Is lower : True
Is Alpha Numeric : False
Is Alpha : False
['he', 'is', 'good']
['he\n', 'is\n', 'good']
['keys', 'Computer', 'Education']
['keys', 'Computer', 'Education']
10
4
7
7
('12', '-', '03-2020')

In [17]:
x="Thanush Vicky"
print(x.find('a'))
print(x.count('a'))
print(x.rindex('a'))
print(x.find('x',1,5))

x="thanush vicky"
print(x.swapcase())
print(x.startswith('th'))

2
1
2
-1
THANUSH VICKY
True

In [20]:
x='1'
print(x.isspace())
print(x.isascii())
print(x.isalpha())
print(x.isalnum())
print(x.isdigit())
print(x.islower())
print(x.isupper())
print(x.isdecimal())

x='p'
print(x.isidentifier())

False
True
False
True
True
False
False
True
True

In [31]:
x="Welcome to @keys 2022"
upper=0
lower=0
digit=0
space=0
spl=0
for i in x:
    if(i.isalpha()):
        if(i.isupper()):
            upper=upper+1
        else:
            lower=lower+1
    elif(-i.isdigit()):
        digit=digit+1
    elif(i.isspace()):
        space=space+1
    else:
        spl=spl+1
print(upper)
print(lower)
print(digit)
print(space)
print(spl)

1
12
4
3
1

In [32]:
x="Welcome to @keys 2022"
s=" "
m=x.split()
for i in m:
    p=i[::-1]
    s=s+p+" "
print(s)

 emocleW ot syek@ 2202

In [36]:
def appu(p):
    return(p*p)
l=[1,2,3,4,5]
x=set(map(appu,l))
print(x)
print(type(x))

{1, 4, 9, 16, 25}
<class 'set'>

In [40]:
x=input("Enter the x value=")
m=[]
s=0
for i in x:
    if(i.isdigit()):
        m.append(int(i))
for i in m:
    s=s+i
print(s)

Enter the x value=456
15

In [34]:
# Range in python:

print(list(range(5)))
print(list(range(2,5)))
print(list(range(0,21,2)))
print(list(range(1,20,2)))

[0, 1, 2, 3, 4]
[2, 3, 4]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [46]:
# slicing:

x="thanush"
print(x)
print(x[2:5])
print(x[-2:-7:-2])
print(x[0:2])
print(x[:5])
print(x[1:])
print(x[-1])
print(x[-2:-1])
print(x[:-1])
print(x[::-1])

y="thanush"
print(y[-2:len(y):2])

thanush
anu
snh
th
thanu
hanush
h
s
thanus
hsunaht
s

In [6]:
# print even letter:

x="thanush"
print(x[-1:len(x):])

h

In [68]:
# Convert of upper to lower:

y=[]
l=input()
for i in range(len(l)):
    x=ord(l[i])
    if(x>=65 and x<=90):
        x=x+32
    else:
        x=x-32
    y.append[x]
print(y)

c=0
l=int(input())
for i in range(l[i]):
    if(l[i]==" "):
        c=c+1
print("no of space=",c)

A

TypeError: 'builtin_function_or_method' object is not subscriptable

In [72]:
#Convert  decimal to binary:

n=int(input("enter the value n="))
l=[]
while(n>0):
    r=n%2
    l.append(r)
    n=n//2
print(l)
l.reverse
print(l)

enter the value n=9
[1, 0, 0, 1]
[1, 0, 0, 1]

In [77]:
# pre defined decimal to binary:

x=9
y=bin(x)
print(y)

0b1001

In [1]:
#write  a program to convert decimal to binary and binary to octal.

# decimal to binary:
    
n=int(input("enter the value n="))
l=[]
while(n>0):
    r=n%2
    l.append(r)
    n=n//2
l.reverse
print(l)

# binary to octal.

n=int(input("enter the value n="))
l=[]
while(n>8):
    r=n%8
    l.append(r)
    n=n//8
l.append(n)
l.reverse()
print(l)

enter the value n=9
[1, 0, 0, 1]
enter the value n=1001
[1, 7, 5, 1]

In [2]:
#Decimal to hexa Decimal:

n=int(input("enter the value n="))
l=[]
m={10:A,11:B,12:C,13:D,14:E,15:F}
while(n>16):

IndentationError: expected an indented block (1713675165.py, line 6)

In [3]:
# binary to decimal:

n=10001
l=[]
x=[]
s=0
while(n>0):
    r=n%10
    l.append(r)
    n=n//10
l.reverse()
print(l)
z=len(l)
for i in range(z):
    k=2**i
    x.append(k)
x.reverse()
print(x)
for i in range(z):
    sum=l[i]*x[i]
    if(sum!=0):
        s=s+sum
print(s)

[1, 0, 0, 0, 1]
[16, 8, 4, 2, 1]
17

In [3]:
#binary to octal:

n=[]
l=[]
x=[]
m=[]
k=[]
y=[]
z=[]
while(n>0):
    r=n%10
    l.append(r)
    n=n//10
reverse()
while(len(l)%3!=0):
    l.append(0)
for i in (l):
    m.append(i)
    if(len(m)==3):
        x.append(m)
        m=[]
print(x)
for i in (x):
    k.append([4,2,1])
print(k)
for i in range(len(x)):
    s=0
    for j in range(0,3):
        sum=x[i][j]*k[i][j]
        if(sum!=0):
            s=s+sum
    y.append(s)
print(y)

TypeError: '>' not supported between instances of 'list' and 'int'

In [24]:
# python program on String:
# Toggle each character in string:

string=input("Enter the string:")
s1=str()
for i in string:
    if i.isupper():
        i=i.lower()
        s1=s1+i
    else:
        i=i.upper()
        s1=s1+i
print(string+'after change '+str(s1))

Enter the string:AppU
AppUafter change aPPu

In [15]:
# Count the number of Vowels in string:

string=input("Enter the string:")
count=0
string=string.lower()
for i in string:
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        count=count+1
if(count==0):
    print("No Vowels")
else:
    print("Total vowels are:",str(count))

Enter the string:AppU
Total vowels are: 2

In [10]:
# Check if given string is palindrome or not:

i.string='Civic'
rev=i_string[::-1]
if i_string==rev:
    print(rev+"is palindrome")
else:
    print(rev-"is not palindrome")

AttributeError: 'str' object has no attribute 'string'

In [27]:
# count the sum of numbers on string:

string=input("Enter the string:")
sum=0
for i in string:
    if ord(i)>=48 and ord(i)<=57:
        sum=sum+int(i)
    print('sum is:',str(sum))

Enter the string:234
sum is: 2
sum is: 5
sum is: 9

In [41]:
# Check if two string are anagram or not:

s1='Listen'
s2='Silent'
s1=sorted(s1.lower())
s2=sorted(s2.lower())
if (s1=s2):
    print("string are anagram")
else:
    print("string are not anagram")

SyntaxError: invalid syntax (2155925145.py, line 7)

In [5]:
# Calculater frequency of a characters in a string:

string="Yolo Life"
for i in string:
    frequency=string.count(i)
    print(string(i)+str(frequency))
    end=(",")

TypeError: 'str' object is not callable

In [3]:
# Replace a substring in a string:

string=input("Enter string:")
str1=input("Enter substring:")
str2=input("Enter substring:")
string=string.replace(str1,str2)
print("string after replacement:")
print(string)

Enter string:prep do
Enter substring:do
Enter substring:in
string after replacement:
prep in

In [2]:
# Remove speces from a string:

string=input("Enter the string:")
String=" ".join(string.split())
print("After removing specs:",string)

Enter the string:preplink is Fad
After removing specs: preplink is Fad